[Unit]
Description=ITS SDR forwarder
After=network.target its-broker.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/opt/its-broker/
ExecStart=/usr/bin/python3 -u /opt/its-broker/lora_sdr_forwarder.py
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
